{% extends 'bp_browse/browse_tracks.html' %}

{% block styles %}
    {{ super() }}
    {# these styles are specific to this page #}
    .album-obj.artist-name {
        color: black;
        height: 24px;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        z-index: 2;
        width: fit-content;
    }
    .album-obj.album-title {
        height: 24px;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .album-obj.release-year {
        font-size: 13px;
        height: 18px;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .album-obj.artist-name:hover {
        color: black;
        text-decoration: underline;
    }

{% endblock %}

{% block header %}
    <div class="row page-header align-items-end">
        <div class="col-auto p-4">
            <a class="btn tab unselected" href="{{ url_for('bp_browse.list_tracks', page_num=1) }}">Tracks</a>
        </div>
        <div class="col-auto p-4">
            <a class="btn tab selected" href="{{ url_for('bp_browse.list_albums', page_num=1) }}">Albums</a>
        </div>
        <div class="col-auto p-4">
            <a class="btn tab unselected" href="{{ url_for('bp_browse.list_artists', page_num=1) }}">Artists</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- render list of objects -->
    {% include "partials/album_list.html" %}
    <!-- render navigation controls -->
    {% import 'partials/nav_controls.html' as controls %}
    {{ controls.render_nav_controls(curr_page, last_page_num) }}
{% endblock %}