{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    .form-field {
        width: 242px;
    }
    .page-container {
        height: 100vh;
    }
    #form_wrapper {
        height: fit-content;
    }
    #user_name, #password {
        font-size: 16px;
        padding: 6px;
        background-color: var(--darkgray);
        border: black;
        color: white;
    }
    .field-error {
        color: #3e3e3e;
    }

    #profile-pic {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #login-button {
        width: 80px;
        margin-top: 40px;
    }
    #login-button:hover {
        background-color: var(--darkgray) !important;
    }
    .page-header .tab {
        font-size: 38px;
        font-weight: lighter;
    }


{% endblock %}

{% block header %}
{% endblock %}
 

{% block content %}
<main id="main">
    <div class="container-fluid d-flex algin-items-center page-container">        
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center" id="formwrapper">
            {% if title == "Register" %}
                <h1>Sign up below!</h1>
            {% else %}
                <h1>Welcome back!</h1>
            {% endif %}
            <img id="profile-pic" width="150px" height="150px" src="{{ url_for('static', filename='profile_photos/default.png') }}">
            <form method="POST" action="{{ handler_url }}">
                 {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                <div class="form-field d-flex flex-column align-items-center">
                    <!-- user_name field -->
                    <div class="form-group username">
                        {{ form.user_name(class="form-control", placeholder="Username") }}
                        <!-- display errors -->
                        {% if form.user_name.errors %}
                            {% for error in form.user_name.errors %}
                                <small class="field-error">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        {% elif user_name_error_message %}
                            <small class="field-error">
                                {{ user_name_error_message }}
                            </small>
                        {% endif %}
                    </div>
                    <!-- password field -->
                    <div class="form-group password">
                        {{ form.password(class="form-control mt-3", placeholder="Password") }}
                        <!-- display errors -->
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <small class="field-error">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        {% elif password_error_message %}
                            <small class="field-error">
                                {{ password_error_message }}
                            </small>
                        {% endif %}
                    </div>
                    {{ form.submit(class="btn btn-outline-dark p-2", id="login-button") }}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}